body {
  background-color: #2E5A88;
}
p {
  color: aliceblue;
  font-family: 'Open Sans';
}
h1 {
  font-family: 'Playfair Display';
  color:aliceblue;
  font-weight: bold;
}
.center{
  text-align: center;
}

img {
  float: left;
  margin: 15px;
}
